@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fall {
  0% { transform: translateY(-10vh); opacity:1 }
  100% { transform: translateY(110vh); opacity:0 }
}

.animate-fall{
  animation: fall linear infinite;
}